In [3]:
import pandas as pd

In [5]:
dataset={
    'Student':['kevin','avinas','keyur','harsh'],
    'Addmission':[2003,2024,2022,2023]
}
demo=pd.DataFrame(dataset)
print(demo)

  Student  Addmission
0   kevin        2003
1  avinas        2024
2   keyur        2022
3   harsh        2023

In [7]:
print(pd.__version__)

1.4.2

In [8]:
a=[20,30,40,50]
demo1=pd.Series(a)
print(demo1)

0    20
1    30
2    40
3    50
dtype: int64

In [9]:
demo2=pd.Series(a,index=["m1","m2","m3","m4"])
print(demo2)

m1    20
m2    30
m3    40
m4    50
dtype: int64

In [10]:
print(demo2
      ["m1"])

20

In [12]:
marks={"kevin":299,"Keyur":100,"harsh":150}
demo3=pd.Series(marks)
print(demo3)

kevin    299
Keyur    100
harsh    150
dtype: int64

In [13]:
print(demo3["Keyur"])

100

In [14]:
demo3=pd.Series(marks,index={"Keyur","harsh"})
print(demo3)

harsh    150
Keyur    100
dtype: int64

In [15]:
data={"Product":["chocolate","puff","wafers"],
     "Price":[150,20,25]}

dataf=pd.DataFrame(data)
print(dataf)

     Product  Price
0  chocolate    150
1       puff     20
2     wafers     25

In [16]:
print(dataf.loc[2])

Product    wafers
Price          25
Name: 2, dtype: object

In [17]:
stmark=pd.read_csv('demo.csv')
print(stmark)

   roll no     name  total marks  obtain mark  percentage grade
0      101  avinash          500          200          88     A
1      102    harsh          600          300          77     A
2      103    kevin          450          400          55   A++
3      104     ansh          600          500          44     A
4      105    keyur          350          300          99     C
5      106  shubham          400          350          75     B
6      107    paras          650          600          85    A+
7      108    arjun          470          450          65     C
8      109      avi          285          250          76     D
9      110    pashv          382          350          52     B

In [18]:
print(pd.options.display.max_rows)

60

In [19]:
print(stmark.tail())#get last five records

   roll no     name  total marks  obtain mark  percentage grade
5      106  shubham          400          350          75     B
6      107    paras          650          600          85    A+
7      108    arjun          470          450          65     C
8      109      avi          285          250          76     D
9      110    pashv          382          350          52     B

In [20]:
print(stmark.head())#get first 5 records

   roll no     name  total marks  obtain mark  percentage grade
0      101  avinash          500          200          88     A
1      102    harsh          600          300          77     A
2      103    kevin          450          400          55   A++
3      104     ansh          600          500          44     A
4      105    keyur          350          300          99     C

In [21]:
print(stmark.info())#info about csv file

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   roll no      10 non-null     int64
 1   name         10 non-null     object
 2   total marks  10 non-null     int64
 3   obtain mark  10 non-null     int64
 4   percentage   10 non-null     int64
 5   grade        10 non-null     object
dtypes: int64(4), object(2)
memory usage: 608.0+ bytes
None

In [22]:
new_stud=stmark.dropna()#delete row where column have null value in any field 
print(new_stud)

   roll no     name  total marks  obtain mark  percentage grade
0      101  avinash          500          200          88     A
1      102    harsh          600          300          77     A
2      103    kevin          450          400          55   A++
3      104     ansh          600          500          44     A
4      105    keyur          350          300          99     C
5      106  shubham          400          350          75     B
6      107    paras          650          600          85    A+
7      108    arjun          470          450          65     C
8      109      avi          285          250          76     D
9      110    pashv          382          350          52     B

In [23]:
fill_stud=stmark.fillna(111)
print(fill_stud)

   roll no     name  total marks  obtain mark  percentage grade
0      101  avinash          500          200          88     A
1      102    harsh          600          300          77     A
2      103    kevin          450          400          55   A++
3      104     ansh          600          500          44     A
4      105    keyur          350          300          99     C
5      106  shubham          400          350          75     B
6      107    paras          650          600          85    A+
7      108    arjun          470          450          65     C
8      109      avi          285          250          76     D
9      110    pashv          382          350          52     B

In [26]:
stmark["obtain mark"].fillna(2000)

0    200
1    300
2    400
3    500
4    300
5    350
6    600
7    450
8    250
9    350
Name: obtain mark, dtype: int64

In [28]:
mean=stmark["obtain mark"].mean()
print("Mean is :",mean)

Mean is : 370.0

In [30]:
median=stmark["obtain mark"].median()
print("Median is :",median)

Median is : 350.0

In [31]:
mode=stmark["obtain mark"].mode()
print("Mode is :",mode)

Mode is : 0    300
1    350
Name: obtain mark, dtype: int64

In [32]:
stmark.columns #get colmn name in csv file

Index(['roll no', 'name', 'total marks', 'obtain mark', 'percentage', 'grade'], dtype='object')

In [33]:
print(stmark.loc[2:5])

   roll no     name  total marks  obtain mark  percentage grade
2      103    kevin          450          400          55   A++
3      104     ansh          600          500          44     A
4      105    keyur          350          300          99     C
5      106  shubham          400          350          75     B

In [34]:
stmark.sort_values(["obtain mark"],ascending=0)# for ascending

   roll no     name  total marks  obtain mark  percentage grade
6      107    paras          650          600          85    A+
3      104     ansh          600          500          44     A
7      108    arjun          470          450          65     C
2      103    kevin          450          400          55   A++
5      106  shubham          400          350          75     B
9      110    pashv          382          350          52     B
1      102    harsh          600          300          77     A
4      105    keyur          350          300          99     C
8      109      avi          285          250          76     D
0      101  avinash          500          200          88     A

In [35]:
stmark.sort_values(["obtain mark"],ascending=1)#for desending

   roll no     name  total marks  obtain mark  percentage grade
0      101  avinash          500          200          88     A
8      109      avi          285          250          76     D
1      102    harsh          600          300          77     A
4      105    keyur          350          300          99     C
5      106  shubham          400          350          75     B
9      110    pashv          382          350          52     B
2      103    kevin          450          400          55   A++
7      108    arjun          470          450          65     C
3      104     ansh          600          500          44     A
6      107    paras          650          600          85    A+

In [40]:

stmark['percentage']=(stmark['obtain mark']/stmark["total marks"])*100
stmark.head(5)

   roll no     name  total marks  obtain mark  percentage grade
0      101  avinash          500          200   40.000000     A
1      102    harsh          600          300   50.000000     A
2      103    kevin          450          400   88.888889   A++
3      104     ansh          600          500   83.333333     A
4      105    keyur          350          300   85.714286     C